@page
@model DeleteUserModel
@using EmbeddedPowerBI.Areas.Identity.Models;

@{
    ViewData["Title"] = "Delete ";
}

<h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Id" type="hidden"/>
                    <input asp-for="Input.Name" class="form-control" disabled/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input type="email" asp-for="Input.Email" class="form-control" disabled />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Organization"></label>
                    <input type="text" asp-for="Input.Organization" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Roles"></label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @for (int i = 0; i < Model.Input.Roles.Count; i++)
                            {
                                <div><input type="checkbox" checked disabled /><span style="padding-left:5px">@Model.Input.Roles[i]</span></div>
                            }
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Delete</button>
            </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

