/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#reportContainer {
    height: 100%;
}

div.embedded-content {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    overflow: hidden;
}


.navbar-inverse .navbar-brand > span.onebeat-one {
    color: #f44336;
    font-style: italic;
    font-size: 32px;
    vertical-align: text-top;
    font-weight: bold;
}

.navbar-inverse .navbar-brand > span.onebeat-beat {
    color: rgb(245, 240, 240);
    vertical-align: text-bottom;
    font-style: italic;
    font-size: 22px;
}

.navbar-inverse .navbar-brand:hover > span.onebeat-one {
    color: #f96f65;
    font-size: 32px;
    font-style: italic;
    vertical-align: text-top;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover > span.onebeat-beat {
    color: white;
    vertical-align: text-bottom;
    font-style: italic;
    font-size: 22px;
}
